<div>
  <h2>Title here</h2>
  <div class="field">
    <label for="firstname">Name</label>
    <input
      id="firstname"
      pInputText
      placeholder="Jane"
      type="text"
      class="w-full"
    >
  </div>
  <div class="field">
    <label for="email">Email</label>
    <input
      id="email"
      pInputText
      placeholder="Jane@amigoscode.com"
      type="email"
      class="w-full"
    >
  </div>
  <div class="field">
    <label for="age">Age</label>
    <input
      id="age"
      pInputText
      placeholder="34"
      type="number"
      class="w-full"
    >
  </div>
  <div class="field">
    <label for="password">Password</label>
    <input
      id="password"
      pInputText
      placeholder="Password"
      type="password"
      class="w-full"
    >
  </div>
  <div class="field">
    <label for="gender">Gender</label>
    <select
      class="p-dropdown w-full custom-select"
      id="gender"
    >
      <option>Select an option</option>
      <option>MALE</option>
      <option>FEMALE</option>
    </select>
  </div>
  <button
    pButton
    label="Submit"
    class="w-full"
  ></button>
  <button
    pButton
    label="Cancel"
    class="w-full p-button-outlined p-button-danger mt-2"
  ></button>
</div>
